<form method="post" action="/rainbow">
  <fieldset>
    <legend>Rainbow</legend>
    <label for="delay">Delay:</label>
    <input type="range" class="large-6 small-12" min="1" max="200" step="1" name="delay"></input>
    <output for="delay" onforminput="value = "delay.valueAsNumber;"></output>
    <br/>
    <input type="submit" value="Rainbow" class="small button success" name="rainbowSubmit">
  </fieldset>
</form>

<form method="post" action="/sparkle">
  <fieldset>
    <legend>Sparkle</legend>
    <label for="repeats">Repeats </label>
    <input type="range" class="large-6 small-12" min="1" max="200" step="1" name="repeats"></input>
    <label for="min">Min LEDs</label>
    <input type="range" class="large-6 small-12" min="1" max="240" step="1" name="min"></input>
    <label for="repeats">Max LEDs </label>
    <input type="range" class="large-6 small-12" min="1" max="240" step="1" name="max"></input>
    <br/>
    <input type="submit" class="small button success" value="Sparkle">
  </fieldset>
</form>

<form method="post" action="/color">
  <fieldset>
    <legend>Color</legend>
    <input type="color" name="color"/>
    <br/>
    <input type="submit" class="small button success" value="Set Color">
  </fieldset>
</form>