<h1>4K Sign Controls</h1>
<form method="post" action="/rainbow">
	<h2>Rainbow</h2>
  <label for="delay">Delay:</label>
  <input type="range" min="1" max="200" step="1" name="delay"></input>
  <input type="submit" value="Rainbow" name="rainbowSubmit">
</form>

<form method="post" action="/sparkle">
  <h2>Sparkle</h2>
  <label for="repeats">Repeats </label>
  <input type="range" min="1" max="200" step="1" name="repeats"></input>
  <label for="min">Min LEDs</label>
  <input type="range" min="1" max="240" step="1" name="min"></input>
  <label for="repeats">Max LEDs </label>
  <input type="range" min="1" max="240" step="1" name="max"></input>
  <input type="submit" value="Sparkle">
</form>

<form method="post" action="/color">
  <h2>Color</h2>
  <input type="color" name="color"/>
  <input type="submit" value="Set Color">
</form>